# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

* List some of the languge
* List some of the tools
* List some libraries

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. MatplotLib

| Data Sience Tools|
| -----------------|
| Visual Studio Code|
| RStudio|
| Jupyter Notebook|

 ### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# this line of code multiplies and adds integers 
(3*4) + 5

17

In [4]:
min = 200
min / 60
# converts min to utes to hours

3.3333333333333335

## Author
Banan